<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá!</p>

<p>Existem consultas canceladas para serem verificadas. Veja:</p>

<p>
    <table style="width: 100%; border-collapse: collapse;  margin: 20px 0">
        <thead>
            <tr>
                <th>Agenda</th>
                <th>Paciente</th>
                <th>Descrição</th>
                <th>Data da Solicitação</th>
            </tr>
        </thead>

        <tbody>
            <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;"
                th:each="Solicitacao: ${Solicitacoes}"
                th:styleappend="${solic.consulta} ? 'color: blue;' : 'color: red;'">
                <td th:text="${solicitacao.agenda.codigo}">1</td>
                <td th:text="${solicitacao.paciente.nome}">João Silva</td>
                <td th:text="${solicitacao.descricao}">Solicito cancelamento da consulta</td>
                <td th:text="${#temporals.format(solicitacao.data, 'dd/MM/yyyy')}"
                    style="text-align: center">10/09/2018</td>
            </tr>
        </tbody>
    </table>
</p>

<p>Obrigado.</p>
<p>Equipe AMS Clínica!</p>

</body>
</html>